/* This feature is strictly used to not print items in the print view
when the user is engaged in print mode. This classes are used in the
component of where the functionality should be executed. */
@media print {
  .no-print {
    visibility: hidden;
  }
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}